<%
  metrics_cache = SlurmMetrics::MetricsCache.new
  timestamp, fairshare = metrics_cache.get_fairshare
  if true || fairshare.blank?
    cluster = Configuration.job_clusters.select(&:slurm?).first
    fairshare = cluster.job_adapter.fairshare
    timestamp = Time.now
    metrics_cache.set_fairshare(timestamp, fairshare)
  end

  metrics_helper = SlurmMetrics::MetricsHelper.new
%>
  <div class="card mt-3">
    <div class="card-header" title="Fairshare calculated at <%= timestamp.strftime('%Y-%m-%dT%H:%M:%S') %>">
      <small class="float-end float-right"><%= timestamp.strftime('%Y-%m-%d') %></small>
      <h3>Fairshare</h3>
    </div>
    <div class="card-body">
      <% unless fairshare.empty? %>
        <table class="table table-sm table-striped table-condensed metrics">
          <thead>
          <tr>
            <th>Account <span class="float-end float-right">Fairshare</span></th>
          </tr>
          </thead>
          <tbody>
            <% fairshare.each do |fairshare_data| %>
            <tr>
              <td>
                <%= fairshare_data[:account] %>
                <span class="badge <%= metrics_helper.fairshare_class(fairshare_data[:fairshare]) %> float-end float-right"><%= fairshare_data[:fairshare].to_s.to_f.round(4) %></span>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="no-fairshare-data">
          No fairshare data available for user <span><%= @user.name %></span>
        </div>
      <% end %>
    </div>
  </div>