<!-- RSTUDIO FIX FOR FASRC. THIS IS REQUIRED BY RSTUDIO, BUT TURBO STREAM LIBRARIES DOES NOT LOAD JS ON view.html.erb -->
<script>
<%#
As of Rstudio 1.4, a CSRF token is required to authenticate. This is normally
set on the sign-in page, but since we are bypassing the sign-in page and
POSTing directly, we need to ensure that the CSRF token cookie is set ahead of
time (i.e. just before the form submission).  When Rstudio receives the POST
request, it will compare the POSTed csrf token against the value of the cookie.
%>
function connect_rstudio(path, form) {
  const csrf_token = form.elements['csrf-token'].value;
  const new_cookie = `csrf-token=${csrf_token}; path=${path}; secure`;
  console.log("Setting Rstudio csrf-token cookie:", new_cookie);
  document.cookie = new_cookie;
  return true;
}
</script>
<!-- configuration options exposed to javascript -->
<div hidden id="ood_config"
  data-max-file-size="<%= Configuration.file_upload_max %>"
  data-transfers-path="<%= transfers_path(format: "json") if respond_to?(:transfers_path) %>"
  data-jobs-info-path="<%= jobs_info_path('delme', 'delme').gsub(/[\/]*delme[\/]*/,'') %>"
  data-uppy-locale="<%= I18n.t('dashboard.uppy', :default => {}).to_json %>"
  data-bc-dynamic-js="<%= Configuration.bc_dynamic_js? %>"
  data-xdmod-url="<%= Configuration.xdmod_host %>"
  data-base-analytics-path="<%= analytics_path('delme').gsub(/[\/]*delme[\/]*/,'') %>"
  data-bc-poll-delay="<%= Configuration.bc_sessions_poll_delay %>"
  data-bc-index-url="<%= batch_connect_sessions_path %>"
  data-status-poll-delay="<%= Configuration.status_poll_delay %>"
  data-status-index-url="/pun/dev/ood/system-status"
  data-app-root="<%= Configuration.send(:app_root) %>"
  data-data-root="<%= Configuration.dataroot %>"
  data-config-root="<%= Configuration.config_root %>"
  data-env-files="<%= Configuration.send(:dotenv_files).to_s %>"
  data-env="<%= ENV['RAILS_ENV'] %>"
></div>
